# Node.js
node_modules/

# Environment variables
.env
backend/.env
frontend/.env

# File upload sementara
backend/uploads/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Build output
frontend/dist/
frontend/build/
